body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #71749f, #50547e);
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.container h1 {
  margin-bottom: 25px;
  color: #0e0e0e;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.login-form input:focus {
  border-color: #30355c;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #30355c;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #30355c;
}
